html, body {
    height: 100%;
}

body {
    background-color: $color-blue;
}

p {
    font-family: 'montserrat-light';
    font-size: 16px;
}

.logo {
    float: right;
}

.catchphrase {
    margin-bottom: 60px;
    font-family: 'montserrat-light';
    font-size: 36px;
    color: $white;

    span {
        font-family: 'montserrat-bold';
    }
}
