@mixin font-face($fontname,$filename,$fontstyle: normal,$fontweight: normal) {
    @font-face {
        font-family: '#{$fontname}';
        src: url('../fonts/#{$filename}.eot');
        src: url('../fonts/#{$filename}.eot?#iefix') format('embedded-opentype'),
        url('../fonts/#{$filename}.svg') format('svg'),
        url('../fonts/#{$filename}.woff') format('woff'),
        url('../fonts/#{$filename}.ttf') format('truetype');

        font-style: $fontstyle;
        font-weight: $fontweight;
    }
}
